@import './variable.scss';

.menu-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  padding: 50px 0;

  button {
    margin-left: auto;
    display: block;
    margin-right: 50px;
    font-size: 40px;
    color: $white;
    cursor: pointer;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      a {
        font-size: 30px;
        line-height: 70px;
      }
    }
  }
}
