/*GlobalColors*/
$width: 100%;
$white-e5: #E5F2F8;
$blue-61: #61dafb;
$blue-00: #005595;
$blue-29: #298FCE;
$blue-001: #001A2E;
$blue-003: #003E6D;
$white: #FFFFFF;
$black: #000000;
$prime-blue: #00192C;
